<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.17.1/axios.min.js"></script>
    <script src="https://cdn.bootcss.com/date-fns/2.0.0-alpha0/date_fns.min.js"></script>
    <script src="https://cdn.bootcss.com/ramda/0.25.0/ramda.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.13/vue.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div id="app" class="container">
        <div class="row justify-content-md-center mt-5">
            <!-- 抽离menus组件 -->
            <div class="col-md-1">
                <div class="btn-group-vertical">
                    <button type="button" class="btn btn-secondary btn-sm" v-for="item in menus" v-on:click="onSelected(item.tag)">{{ item.txt }}</button>
                </div>
            </div>

            <!-- 抽离task-list组件 -->
            <div class="col-md-6">
                <div class="list-group" v-if="currentTagStatus === false">
                    <!-- 抽离task-item组件 -->
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" v-for="item in tasks" v-if="item.completed === false">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ item.title }}</h5>
                            <small>{{ item.createAt }}</small>
                        </div>
                        <p class="mb-1">{{ item.content }}</p>
                        <span class="float-right">
                            <button class="btn btn-primary" v-on:click="onCompleted(item.id)">确认已完成</button>
                        </span>
                    </a>
                </div>

                <div class="list-group" v-else>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active" v-for="item in tasks" v-if="item.completed === true">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ item.title }}</h5>
                            <small>{{ item.createAt }}</small>
                        </div>
                        <p class="mb-1">{{ item.content }}</p>
                        <small>已完成</small>
                    </a>
                </div>
            </div>

        </div>
    </div>
</body>
<script>
    let app = new Vue({
        el: '#app',
        data: {
            tasks: [],
            menus: [{
                txt: '未完成',
                tag: false
            }, {
                txt: '已完成',
                tag: true
            }],
            currentTagStatus: false
        },
        beforeCreate() {
            axios.get('https://api.myjson.com/bins/oufit')
                .then(response => response.data)
                .then(data => (this.tasks = data))
                .catch(console.log('数据请求错误，请重试！'))
        },
        methods: {
            onSelected(tag) {
                this.currentTagStatus = tag;
            },
            onCompleted(id) {
                let index = R.findIndex(R.propEq('id', id))(this.tasks);
                this.tasks[index].completed = true;

                this.updateTasks();
            },
            updateTasks() {
                axios.put('https://api.myjson.com/bins/oufit', this.tasks)
                    .then(response => response.data)
                    .then(data => alert('successed!!'))
                    .catch(console.log('error'))
            }
        }
    });

    app.currentTagStatus = app.menus[0].tag;
</script>

</html>